@font-face{
    font-family: 'Raleway-Black';
    src: 
    url('./res/fonts/Raleway/Raleway-Black.ttf')format('truetype');
}

@font-face{
    font-family: "Raleway-Medium";
    src:
    url('./res/fonts/Raleway/Raleway-Medium.ttf')format('truetype');
}
body {
    margin: 0;
    font-family:'Raleway-Black','Raleway-Medium'
}
  