@font-face{
    font-family: 'Raleway';
    src: local('Raleway'),
    url('./res/fonts/Raleway/Raleway-Black.ttf')format('ttf'),
    url('./res/fonts/Raleway/Raleway-BlackItalic.ttf')format('ttf'),
    url('./res/fonts/Raleway/Raleway-Bold.ttf')format('ttf'),
    url('./res/fonts/Raleway/Raleway-BoldItalic.ttf')format('ttf'),
    url('./res/fonts/Raleway/Raleway-Medium.ttf')format('ttf'),
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Raleway',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'Raleway'
    monospace;
}